<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>MyAppReg</display-name>
  <welcome-file-list>
    <welcome-file>personal.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PersonalInfoServlet</display-name>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <servlet-class>com.pragim.myregapp.controller.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <url-pattern>/persrv</url-pattern>
  </servlet-mapping>
</web-app>